@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: "Roboto", sans-serif;
}

:root {
	--blue: #0071FF;
	--light-blue: #B6DBF6;
	--dark-blue: #005DD1;
	--grey: #f2f2f2;
}

.home {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
  margin-left: -6%;
  display: block;
  color: #6f7782;
}

.file-upload-main {
  margin-left: 380px;
  width: 600px;
  border-radius: 20px;
  background-color: white;
  /* border: 1px solid rgb(170 170 173/ 1); */
  box-shadow: 0px 3px 10px 3px rgb(170 170 173 / 0.5);
  padding: 40px;
  height: auto;

}

.file-upload {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-evenly;
}

.action {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: row;
  gap: 30px;
}

.upload {
  background-color: white;
  color: #6f7782;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;

}
#file {
  background-color: transparent;
  color: #6f7782;
  height: 100px;
  width: 100%;
  text-align: center;
  border: 1px solid #6f7782;
  outline: none;
}

#file:focus,
#file:hover {
  border: 1px solid #005DD1;
  outline: none;
}
.preview-image {
  width: 100%;
}

.select-image {
  background-color: #005DD1;
  color: white;
  border: none;
  outline: none;
}